// 顶栏布局
@import "header-layout";

// 字体设定
@import "font";

// 简码设定
@import "shortcodes";

// 正文设定
@import "post";

// 友链
@import "blogroll";

// 一行多图
@import "gallery";

// 评论
@import "comments";

.main {
    padding-bottom: 5em;
}

.list-title,
.term-title,
.list-year,
.list-month {
    font-family: "Cinzel Decorative", "Noto Serif TC", "Noto Serif SC", serif;
}

.life {
    color: #f37055;
}
.tech {
    color: #a166ab;
}
.about {
    color: #07b39b;
}

[data-theme="dark"] {
    .theme-icon-dark,
    #lang-switcher,
    .footer-icon {
        opacity: 0.75;
    }
}

#lang-switcher {
    margin-left: 0.3em;
}

.footer {
    letter-spacing: -0.1em;
}

.footer-inner {
    display: flex;
    flex-direction: column-reverse;
}

.viva-la-vida {
    margin-top: 50px;
    text-align: center;
    font-family: "Cinzel Decorative", serif !important;
    background-image: linear-gradient(
        90deg,
        #f37055 0,
        #ef4e7b 40%,
        #f37055 45%,
        #a166ab 50%,
        #f37055 55%,
        #ef4e7b 60%,
        #f37055 100%
    );
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.minimal-footer-about {
    font-variant: small-caps;
}

hr.coldplay {
    background-image: url(../images/rainbow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 3px;
    &::after {
        content: none;
    }
}
.coldplay-footer {
    text-align: right;
    font-size: 80%;
}

.list-coldplay {
    hr {
        border: none;
        margin: 2.427em 0 1.5em;
    }
    img {
        display: block;
        margin: 2em auto;
        max-width: 100%;
    }
    ul {
        padding-left: 2em;
        line-height: $lineHeight;
        list-style-type: disc;
    }
}

html:lang(en) body {
    font-variation-settings: normal;
}

article:lang(en) p {
    --font-size: 18px;
    --line-height: 1.618;

    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family:
        "LXGWBright", "Amstelvar", "Noto Serif TC", "Noto Serif SC", serif;
    font-variation-settings: normal;
}

article:lang(en) .drop-cap {
    font-size: 3em;
    margin-right: 16px;
    margin-top: 15px !important;
    line-height: calc(var(--font-size) * var(--line-height));
}
